---
import Button from "../components/Button"

import { FaArrowRight } from "react-icons/fa6"
---

<section class="hero min-h-[75vh] w-full flex flex-col justify-center overflow-hidden text-nowrap">
    <div class="h-full w-3/4 mx-auto flex flex-col justify-center items-start gap-4">
        <h1 class="text-5xl text-gray-500 w-1/4 font-semibold text-wrap">
            Join Delpo at the academy
        </h1>
        <Button large>Join Delpo <FaArrowRight /></Button>
    </div>
</section>

<style>
    .hero {
        background: no-repeat center / cover url(../assets/hero.jpg);
    }

    h1 {
        text-shadow: 0px 4px 4px #00000025;
    }
</style>