---
import { Image } from "astro:assets";
import logo from "../assets/logo.png"

import { FaInstagram } from "react-icons/fa6";
import { FaXTwitter } from "react-icons/fa6";
import { FaFacebookF } from "react-icons/fa6";
import ToggleLanguage from "./Toggle";
---

<nav class="w-full md:h-32 bg-white flex justify-between items-center px-10 py-5">
    <Image src={logo} alt={"Logo"} width={200} height={50} />
    <div class="flex gap-10">
        <ul class="flex gap-4">
            <li>Home</li>
            <li>About</li>
            <li>Tennis programs</li>
            <li>Contact</li>
            <li>News</li>
        </ul>
        <ul class="flex items-center gap-2">
            <li><FaInstagram /></li>
            <li><FaXTwitter /></li>
            <li><FaFacebookF /></li>
            <li><ToggleLanguage client:load /></li>
        </ul>
    </div>
</nav>

<style>
    ul {
        @apply font-semibold
    }

    li {
        @apply hover:cursor-pointer
    }
</style>