<section class="min-h-24 w-full flex flex-col justify-center overflow-hidden text-nowrap bg-gray-700 text-white font-bold">
    <div class="move h-20 place-content-center inline-block">
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
        <span>Opening this september -</span>
    </div>
</section>

<style>
    .move {
        animation: slider 20s linear infinite
    }

    span {
        @apply inline-block
    }
    
    @keyframes slider {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>